body {
    background-image: linear-gradient(90deg, rgb(106, 201, 210), rgb(240, 243, 147));
    background-size: 400% 400%;
}

#main-content {
    display: grid;
    align-items: center;
}

#heading-text {
    position: relative;
    margin: 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color: white;
    text-shadow: 0 4px 3px black;
}